* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#pay__div1 {
	height: 100vh;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pay__div1::-webkit-scrollbar {
  display: none;
}

.amtBtn {
	padding: 20px 70px;
	border: 1px solid grey;
	margin-right: 20px;
	border-radius: 5px;
/*	background-color: white;*/
}

/* Marquee.css */

.marquee-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px; /* Add some margin between marquee texts */
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee-animation 10s linear infinite;
}

.sol__div2 {
	display: none;
}

.pav__div2 {
	padding: 30px;
	border: 1px solid grey;
}

@keyframes marquee-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 600px) {
	.sol__div2 {
		display: block;
		margin-left: -10px;
	}

	.sol__div1 {
		display: none;
	}

	.pay__div2 {
		padding: 5px;
		border: none !important;
	}
}