* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

#navbar2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
}

#smDiv1 {
	height: 100vh;
	width: 100vw;
	margin-top: 20px;
}

.search:focus {
  outline: none !important;
}

.card {
	width: 18rem;
}

.card-img-top {
	height: 150px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: font-size 0.3s ease;
}

li:hover {
  font-size: 1.2em; /* Increase font size on hover */
}

.nav__avatar {
	margin-right: 30px;
}

.nav__div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 600px) {
	#smDiv1 {
		margin-left: 0 !important;
		padding: 50px 20px 0 20px !important;
	}

	#searchBox {
		margin-top: 15px !important;
		margin-right: 0 !important;
	}

	input::placeholder {
		font-size: 15px !important;
	}

	.card {
		width: 12rem;
	}

	.card-img-top {
		height: 120px;
	}

	.nav__div {
		display: none !important;
	}

	.nav__avatar {
		margin-right: 20px;
	}
}